.products {
  .img {
    width: 100%;
    z-index: 0;
    transform: translateY(-35px) scale(1.8);
    @include breakpoint-up(medium) {
      transform: translateY(-70px) scale(1.8);
    }
  }
  display: grid;
  margin: 92px 25px;
  @include breakpoint-up("medium") {
    margin: 147px 23px;
  }

  @include breakpoint-up("xlarge") {
    margin: 200px 133px;
  }

  grid-template: repeat(3, 165px) / minmax(auto, 327px);
  justify-content: center;
  grid-gap: 4.25rem;

  @include breakpoint-up("medium") {
    grid-template: minmax(auto, 223px) / repeat(3, minmax(auto, 217px));
    grid-gap: 1rem;
  }

  @include breakpoint-up("xlarge") {
    grid-template: 204px / repeat(3, 350px);
    grid-gap: 30px;
  }

  .box {
    background-color: $gray;
    border-radius: 5px;
    display: grid;
    grid-template: 100px 30px 35px / 80px;
    @include breakpoint-up(medium) {
      grid-template: 90px 35px 33px/90px;
    }
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;

    h5,
    p,
    .arrowForward {
      transform: translateY(-15px);

      @include breakpoint-up("medium") {
        transform: translateY(-30px);
      }
    }

    .headphone {
      width: 100%;
      height: 100%;
      background-image: url("../../../assets/category-headphones/mobile/image-xx99-mark-one-1.png");
      @include breakpoint-up("xlarge") {
        background-image: url("../../../assets/category-headphones/desktop/image-xx99-mark-one-1.png");
      }
      background-position: center;
      background-size: cover;
    }

    .speaker {
      width: 100%;
      height: 100%;
      background-image: url("../../../assets/category-speakers/desktop/image-zx9-1.png");
      @include breakpoint-up("xlarge") {
        background-image: url("../../../assets/category-speakers/desktop/image-zx9-1.png");
      }
      background-position: center;
      background-size: cover;
    }

    .earphone {
      width: 100%;
      height: 100%;
      background-image: url("../../../assets/category-earphones/desktop/image-yx1-earphones-1.png");
      @include breakpoint-up("xlarge") {
        background-image: url("../../../assets/category-earphones/mobile/image-yx1-earphones-1.png");
      }
      background-position: center;
      background-size: cover;
    }

    .shop {
      display: flex;
      align-items: center;
    }

    .arrowForward {
      color: $brown;
      width: 1rem;
      margin-left: 1rem;
      cursor: pointer;
    }
    p {
      cursor: pointer;
    }
  }
}
